@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  background: url('./assets/background.svg') no-repeat center center fixed;
  background-size: 100% 100%; /* Ensures the background covers the entire width */
  padding: 0;
  margin: 0;
}

dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}